@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Just+Another+Hand&family=Oswald&family=Passion+One&family=Patrick+Hand+SC&family=Permanent+Marker&family=Rowdies:wght@300&family=Russo+One&family=Share+Tech+Mono&display=swap');

html, 
body {
    margin: 0;
}

h1 {
    font-size: 3rem;
    font-family: "Permanent Marker";
    /* letter-spacing: -2px; */
    position: absolute;
    display: inline-block;
    background-color: whitesmoke;
    margin: 15px 10px;
    padding: 5px 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px black;
    z-index: 20;
    user-select: none;
}

.container {
    background-color: grey;
    width: 100%;
    height: 100vh;
    display: flex;
}

.color {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
    -webkit-transition: -webkit-filter 0.2s;
}

.color:active {
    filter: brightness(80%);
}

.color span {
    font-family: "Share Tech Mono";
    font-weight: 700;
    font-size: 1.75em;
    margin: 0 10px 2rem 10px;
    color: white;
    text-shadow: 1px 1px 1px black;
    text-transform: uppercase;
}

#form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

#form input[type="text"] {
    font-family: "Share Tech Mono";
    letter-spacing: -2px;
    width: 500px;
    height: 47px;
    font-size: 2.5rem;
    outline: 0;
    border: 2px solid white;
    background-color: whitesmoke;
    padding: 10px 20px;
    box-shadow: 1px 1px 1px black;
    border-radius: 5px;
    margin-right: 5px;
}

.btn-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.btn {
    font-family: "Share Tech Mono";
    font-weight: 700;
    /* letter-spacing: -2px; */
    background-color: whitesmoke;
    padding: 13px 20px;    
    font-size: 2.5rem;
    color: black;
    border: none;
    /* border: 2px solid black; */
    box-shadow: 1px 1px 1px black;
    border-radius: 5px;
    -webkit-transition: -webkit-filter 0.2s;
    cursor: pointer;
}

.btn:hover {
    filter: brightness(80%);
}

#replace {
    box-shadow: 1px 1px 1px black;
}

.check-label {
    font-family: "Share Tech Mono";
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    text-shadow: 1px 1px 1px black;
    user-select: none;
}